[submodule "riscv-binutils"]
	path = riscv-binutils
	url = https://github.com/stanso/riscv-binutils-gdb.git
	branch = dp-rvv-riscv-binutils
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = https://github.com/riscv-collab/riscv-gcc.git
	branch = basic-rvv
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = git://sourceware.org/git/glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = https://github.com/riscv-collab/riscv-dejagnu.git
	branch = riscv-dejagnu-1.6
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = git://sourceware.org/git/newlib-cygwin.git
	branch = master
[submodule "riscv-gdb"]
	path = riscv-gdb
	url = https://github.com/stanso/riscv-binutils-gdb.git
	branch = dp-riscv-gdb
[submodule "qemu"]
	path = qemu
	url = https://git.qemu.org/git/qemu.git
